# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
ve/
ENV/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Node modules (if any front-end dependencies)
node_modules/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
*.cover
*.py,cover
.coverage.*
.cache

# Pytest
.cache/
.pytest_cache/

# Celery beat schedule files
celerybeat-schedule

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Misc
*.swp
